<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-nav" routerLink="/inicio">
      <img src="assets/images/LOGO_IKOMI.png" style="height: 60px; margin-right: 10px;" alt="">
      Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/nosotros">
            <i class="fas fa-users"></i> Nosotros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/servicios">
            <i class="fas fa-cogs"></i> Servicios
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/producto">
            <i class="fas fa-box"></i> Productos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/marcas">
            <i class="fas fa-trademark"></i> Marcas
          </a>
        </li>
        <li>
          <a class="nav-link active" routerLink="/contactenos">
            <i class="fas fa-envelope"></i> Contáctenos
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>