.card {
  background-color: #2a2a2a;
  color: #ffffff;
}

.card-body .icon i {
  color: #ff4136; /* Color rojo para los íconos */
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 14px;
}
